.content .bar > * {
    background: transparent;
}
.content .bar .searchbar {
    width: 93%;
    float: right;
}
.content .bar .classify {
    width: 7%;
    float: left;
}
.content .bar .classify {
    line-height: 0.5rem;
    width: 10%;
    min-width: 32px;
    text-align: center;
}
.content .bar .classify i {
    padding: 0.1rem 0.1rem;
    font-size: 1rem;
    font-weight: bold;
}
.content .bar .classify .text {
    display: block;
    padding: 0rem 0.2rem;
    font-size: 0.6rem;
}
.content .swiper-container {
    width: 100%;
    height: 8.5rem;
}
.content .swiper-container .swiper-wrapper img {
    width: 100%;
}
.content .src-content {
    padding-top: 0.5rem;
}
.content .src-content .src-title {
    position: relative;
    left: -1px;
    width: 5rem;
    height: 1.35rem;
    padding: 0px;
    line-height: 1.35rem;
    text-align: center;
    font-size: 0.7rem;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 20px;
    border-color: #bbb;
    opacity: 1;
}
.content .src-content .src-list {
    padding: 5px;
}
.content .src-content .src-list .item img {
    width: 100%;
}